<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Flickr Viewr</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="apple-touch-icon" sizes="57x57" href="./app/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./app/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./app/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./app/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./app/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./app/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./app/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./app/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./app/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./app/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./app/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="./app/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./app/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./app/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./app/favicon/manifest.json">
    <link rel="mask-icon" href="./app/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./app/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="./app/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="./app/favicon/browserconfig.xml">
    <meta name="theme-color" content="#2196f3">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">

    <link rel="stylesheet" href="app/css/angular-material.min.css">

    <link rel="stylesheet" href="app/css/app.min.css">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="flickrViewr" ng-controller="FlickrItemController as ctrl" ng-cloak>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="column" class="md-whiteframe-z1" id="toolbar">
      <div class="toolbar-wrapper" layout="row" flex>

        <h1 flex>          Flickr Viewr
        </h1>

        <md-button flex="none" class="md-accent search-button" ng-click="ctrl.showTagSearch()">Search</md-button>

      </div>
    </md-toolbar>

    <md-content flex id="content">

      <md-list layout="column" ng-if="ctrl.items.length > 0">

        <md-list-item flex ng-repeat="item in ctrl.items">
              
          <div flex layout="row" layout-align="left">

            <div flex="none"
                 class="layout-column photo-wrap"
                 ng-click="ctrl.showItemDetails(item, $event)"
                 style="background-image:url('{{item.media.m}}');">
            </div>            
            
              <md-subheader layout="column" flex class="item-headers">

                <h1 class="md-display-3">
                  <a href="" title="{{ item.title }}" ng-click="ctrl.showItemDetails(item, $event)">
                    <span>{{ item.title }}</span>
                  </a>
                </h1>

                <h2 class="md-title">

                  <md-content layout="row" hide show-sm>
                    <span>{{ item.published }}</span>
                  </md-content>

                  <div layout="row" class="details-container">

                    <span flex flex-gt-sm="20">
                      <a class="author-link" href="{{item.authorLink}}" title="{{ item.author }}" target="flickrViewr-Flickr">
                        {{ item.author }}
                      </a>
                    </span>

                    <span flex="50" hide-sm>Published: {{item.published}}</span>

                    <span flex flex-gt-sm="30">
                      <a class="photo-link" href="{{item.link}}" target="flickrViewr-Flickr">
                        View on Flickr
                      </a>
                    </span>

                  </div>
                
                </h2>

              </md-subheader>
          </div>

        </md-list-item>

      </md-list>

      <div ng-if="!ctrl.searched" class="app-loading">

        <img src="./app/img/fv-icon.svg" class="app-icon" />
        <p class="md-headline app-loading-text">
          Loading...
        </p>

      </div> 

      <div ng-if="ctrl.searched && ctrl.items.length <= 0" class="no-results">

        <p class="md-headline">
          No photos were found matching those tags :(
        </p>

        <p class="md-headline">
          Please search again.
        </p>

      </div>

    </md-content>

  </div>

    <script src="app/js/angular.min.js"></script>
    <script src="app/js/angular-animate.min.js"></script>
    <script src="app/js/angular-aria.min.js"></script>
    <script src="app/js/angular-material.min.js"></script>
    <script src="app/js/angular-sanitize.min.js"></script>

    <script src="./app/js/flickrItems/FlickrItems.js"></script>
    <script src="./app/js/flickrItems/FlickrItemController.js"></script>
    <script src="./app/js/flickrItems/FlickrItemFilters.js"></script>
    <script src="./app/js/flickrItems/FlickrItemService.js"></script>

    <script type="text/javascript">

          angular
              .module('flickrViewr', ['ngMaterial', 'ngSanitize', 'flickrItems'])
              .config(function($mdThemingProvider){

                $mdThemingProvider.theme('default')
                    .primaryPalette('blue')
                    .accentPalette('red');

              });

    </script>

  </body>
</html>
