<md-bottom-sheet class="md-list md-has-header">

    <md-subheader>
        Contact<span class="name">{{ detailsCtrl.item.author }}</span>:
    </md-subheader>

    <md-list>
      <md-item ng-repeat="action in detailsCtrl.actions">
        <md-button ng-click="detailsCtrl.submitContact(action)" id="action_{{$index}}">
            <img src="{{item.media.m}}"></img>
            <md-icon md-svg-icon="{{ action.icon_url }}"></md-icon>
            {{action.name}}
        </md-button>
      </md-item>
    </md-list>

</md-bottom-sheet>
