html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* Variables */
@sm: 600px;                        // Matches Angular Material's sm size
@text-color: rgba(0,0,0,0.87);
@gray: rgb(224,224,224);
@gray-dark: darken(rgb(224,224,224), 10%);


@import 'content';
@import 'details';
@import 'toolbar';
@import 'search';