
/* Core content styles */

/* Prevent box-shadow around content */
.md-whiteframe-4dp, .md-whiteframe-z2 {
  box-shadow: none;
}

/* Prevent white background in md-content areas */
md-content.md-default-theme, md-content,
.md-subheader.md-default-theme, .md-subheader {
    color: @text-color;
    background-color: transparent;
}

#content {
  top: @toolbar-med - 10px;

  @media(max-width: @med) {
    top: @toolbar-sml - 10px;
  }

  /* Item list and photos */
  md-list-item {
    padding: 0;

    md-content {      
      max-width: @max-app-width;
      margin: 0 auto;
    }

    .photo-wrap {
      border: @image-border;
      cursor: pointer;
      border-radius:50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 2em;
      width: 15em;
      height: 15em;

      @media(max-width: @med) {
        width: 12em;
        height: 12em;
      }

      @media(max-width: @sml) {
        margin: 1em;
        margin-right: 0;
        width: 8em;
        height: 8em;
      }
    }

    &:nth-child(even) {
      background: @gray-light;

      .photo-wrap {
        border-color: @white;
      }
    }
  }

  /* Item list headers */
  .item-headers {
    overflow: hidden;
  }

  .md-subheader {
    h1 {
      margin-top: 0.9em;

      @media(max-width: @med) {
        margin-top: 1.4em;
      }

      @media(max-width: @sml) {
        margin-top: 0;
      }

      a {
        display: block;

        span {
          .text-overflow();
        }
      }
    }

    h2 {
      margin-bottom: 0;

      .author-link {
        margin-right: 0.5em;
        .text-overflow();
      }

      @media(max-width: @med) {

          font-size: 1.3em;
      }
    }
  }

  /* Placeholder content for loading and error states */
  .app-loading,
  .no-results {

    padding: 1em;
    margin-top: 5em;

    @media(max-width: @sml) {
      margin-top: 25%;
    }

    &, p {
      text-align: center;
    }
  }

  .app-loading {
    margin-top: 0;

    .app-icon {
      width: 50%;
      margin: 0 auto;
      margin-bottom: -5em;
      display: inline-block;
    }

    .app-loading-text {
      padding-left: 1em;
    }
  }
}
