
/* Image details area */

md-bottom-sheet {
  overflow-y: auto;
  max-height: calc(~"100%" - (@toolbar-med - 1px));

  @media (max-width: @sml) {
    max-height: calc(~"100%" - (@toolbar-sml - 1px));
  }

  .details-header {
    a {
      .text-overflow();
    }
  }

  .details-close-button {
    margin-top: 2.75em;
  }
  
  .details-image-container {
    margin-left: 6px;
    margin-right: 1em;
    max-width: 100%;

    img {
      border: @image-border;
      max-width: 100%;
      border-radius: 0.5em;
    }    
  }
  
  .description-container {    
    padding-top: 0;

    @media (max-width: @sml) {
      padding: 0 16px;
    }
  }

  .tags-container {
    padding-left: 0;

    @media (max-width: @sml) {
      padding: 0 8px;
    }

    h3 {
      margin-top: 0;
    }

    .md-chips {
      padding-top: 0;
      padding-left: 0;

      .md-chip {
        background: @gray;
        cursor: pointer;      

        &:hover, &:active {
          background: @gray-dark;
        }
      }    
    }
  }
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}
