
/* Image details area */

md-bottom-sheet {
  overflow-y: auto;
  height: calc(~"100%" - (@toolbar-med - 8px));
  position: fixed;
  padding-bottom: 0;
  transform: translate3d(0, 0, 0);

  @media (max-width: @sml) {
    height: calc(~"100%" - (@toolbar-sml - 8px));
  }

  .details-sheet-wrapper {
    max-width: @max-app-width;
    margin: 0 auto;
    padding-bottom: 1em;
  }

  .details-header {
    a {
      .text-overflow();
    }
  }

  .details-close-button {
    margin-top: 0;
    padding: 0;
  }
  
  .details-image-container {
    margin-left: 6px;
    margin-right: 1em;
    max-width: 100%;

    img {
      border: @image-border;
      max-width: 100%;
      border-radius: 0.5em;
    }    
  }
  
  .description-container {    
    padding-top: 0;

    @media (max-width: @sml) {
      padding: 0 16px;
    }
  }

  .tags-container {
    padding-left: 0;

    @media (max-width: @sml) {
      padding: 0 8px;
    }

    h3 {
      margin-top: 0;
    }

    .md-chips {
      padding-top: 0;
      padding-left: 0;

      .md-chip {
        background: @gray;
        cursor: pointer;
        padding: 0px 12px;

        &:hover, &:active {
          background: @gray-dark;
        }

        .md-chip-content {
          padding: 0;          
        }
      }    
    }
  }
}

md-backdrop {
  position: fixed;  
}