
/* Image details area */

md-bottom-sheet {
  overflow-y: auto;
  max-height: calc(~"100%" - (@toolbar-med - 1px));

  @media (max-width: @sml) {
    max-height: calc(~"100%" - (@toolbar-sml - 1px));
  }

  .details-header {
    a {
      .text-overflow();
    }
  }

  .details-close-button {
    margin-top: 2.75em;
  }
  
  md-icon {
    margin-right:20px;
  }

  .md-chips {
    .md-chip {
      background: @gray;
      cursor: pointer;

      &:hover, &:active {
        background: @gray-dark;
      }
    }    
  }
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}
