html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
/* Variables */
/* Core content styles */
md-content.md-default-theme,
md-content,
.md-subheader.md-default-theme,
.md-subheader {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
}
#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}
#content md-list-item {
  padding: 0;
}
#content md-list-item:nth-child(even) {
  background: #ededed;
}
#content md-icon.avatar {
  margin-top: 10px;
}
#content .md-subheader h1 {
  margin-top: 0;
}
#content .md-subheader h1 a {
  display: block;
}
#content .md-subheader h1 a span {
  display: block;
  overflow: hidden;
  height: 1.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content .md-button.contact > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}
#content md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}
#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}
#content img {
  display: block;
  height: auto;
  width: 33%;
  max-width: 500px;
}
#content .content-wrapper {
  position: relative;
}
/* Image details area */
md-bottom-sheet {
  overflow-y: auto;
  max-height: 100%;
}
md-bottom-sheet md-icon {
  margin-right: 20px;
}
md-bottom-sheet .md-chips .md-chip {
  background: #e0e0e0;
  cursor: pointer;
}
md-bottom-sheet .md-chips .md-chip:hover,
md-bottom-sheet .md-chips .md-chip:active {
  background: #c7c7c7;
}
span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}
/* Toolbar area */
@media (max-width: 600px) {
  md-toolbar {
    min-height: 48px !important;
  }
}
md-toolbar h1 {
  margin: auto;
  font-size: 1.250em;
  font-weight: 400;
  text-align: center;
  padding-left: 88px;
}
@media (max-width: 600px) {
  md-toolbar h1 {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* Search input */
#tags-search-container {
  padding-bottom: 0.5em;
}
#tags-search-container input {
  color: #fff;
}
