/* Base document styling */
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.flex {
  display: block !important;
}
/* Variables */
/* Mixins */
.text-overflow {
  display: block;
  overflow: hidden;
  height: 1.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* Import other less files */
/* Core content styles */
/* Prevent box-shadow around content */
.md-whiteframe-4dp,
.md-whiteframe-z2 {
  box-shadow: none;
}
/* Prevent white background in md-content areas */
md-content.md-default-theme,
md-content,
.md-subheader.md-default-theme,
.md-subheader {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
}
#content {
  top: 64px;
  /* Item list and photos */
  /* Item list headers */
  /* Placeholder content for loading and error states */
}
@media (max-width: 800px) {
  #content {
    top: 50px;
  }
}
#content md-list-item {
  padding: 0;
}
#content md-list-item > div {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
#content md-list-item .photo-wrap {
  display: inline-block !important;
  border: 0.3em solid #e0e0e0;
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 2em;
  width: 15em;
  height: 15em;
}
@media (max-width: 1200px) {
  #content md-list-item .photo-wrap {
    width: 12em;
    height: 12em;
  }
}
@media (max-width: 800px) {
  #content md-list-item .photo-wrap {
    margin: 1em;
    margin-right: 0;
    width: 8em;
    height: 8em;
  }
}
#content md-list-item:nth-child(even) {
  background: #ededed;
}
#content md-list-item:nth-child(even) .photo-wrap {
  border-color: #ffffff;
}
#content .item-headers {
  overflow: hidden;
  display: inline-block !important;
  position: absolute !important;
  top: 0;
  right: 0;
  left: 18em;
}
@media (max-width: 1200px) {
  #content .item-headers {
    left: 15em;
  }
}
@media (max-width: 800px) {
  #content .item-headers {
    left: 8em;
  }
}
#content .md-subheader h1 {
  margin-top: 0.9em;
}
@media (max-width: 1200px) {
  #content .md-subheader h1 {
    margin-top: 1.4em;
  }
}
@media (max-width: 800px) {
  #content .md-subheader h1 {
    margin-top: 0;
  }
}
#content .md-subheader h1 a {
  display: block;
}
#content .md-subheader h1 a span {
  display: block;
  overflow: hidden;
  height: 1.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content .md-subheader h2 {
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  #content .md-subheader h2 {
    font-size: 1.3em;
  }
}
#content .md-subheader h2 .author-link {
  margin-right: 0.5em;
  display: block;
  overflow: hidden;
  height: 1.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content .app-loading,
#content .no-results {
  padding: 1em;
  margin-top: 5em;
}
@media (max-width: 800px) {
  #content .app-loading,
  #content .no-results {
    margin-top: 25%;
  }
}
#content .app-loading,
#content .no-results,
#content .app-loading p,
#content .no-results p {
  text-align: center;
}
#content .app-loading {
  margin-top: 0;
}
#content .app-loading .app-icon {
  width: 50%;
  margin: 0 auto;
  margin-bottom: -5em;
  display: inline-block;
}
#content .app-loading .app-loading-text {
  padding-left: 1em;
}
/* Image details area */
md-bottom-sheet {
  overflow-y: auto;
  height: calc(100% - 56px);
  position: fixed;
  padding-bottom: 0;
  transform: translate3d(0, 0, 0);
}
@media (max-width: 800px) {
  md-bottom-sheet {
    height: calc(100% - 42px);
  }
}
md-bottom-sheet .details-sheet-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 1em;
}
md-bottom-sheet .details-header a {
  display: block;
  overflow: hidden;
  height: 1.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
md-bottom-sheet .details-close-button {
  margin-top: 0;
  padding: 0;
}
md-bottom-sheet .details-container {
  max-width: calc(50% - 2em);
  display: inline-block !important;
  vertical-align: top;
}
@media (max-width: 800px) {
  md-bottom-sheet .details-container {
    display: block !important;
    max-width: 100%;
  }
}
md-bottom-sheet .details-image-container {
  margin-left: 6px;
  margin-right: 1em;
  max-width: 50%;
  display: inline-block !important;
  vertical-align: top;
}
@media (max-width: 800px) {
  md-bottom-sheet .details-image-container {
    display: block !important;
    max-width: 100%;
  }
}
md-bottom-sheet .details-image-container img {
  border: 0.3em solid #e0e0e0;
  max-width: 100%;
  border-radius: 0.5em;
}
@media (max-width: 800px) {
  md-bottom-sheet .details-image-container img {
    width: calc(100% - 1em);
  }
}
md-bottom-sheet .description-container {
  padding-top: 0;
}
@media (max-width: 800px) {
  md-bottom-sheet .description-container {
    padding: 0 16px;
  }
}
md-bottom-sheet .tags-container {
  padding-left: 0;
}
@media (max-width: 800px) {
  md-bottom-sheet .tags-container {
    padding: 0 8px;
  }
}
md-bottom-sheet .tags-container h3 {
  margin-top: 0;
}
md-bottom-sheet .tags-container .md-chips {
  padding-top: 0;
  padding-left: 0;
}
md-bottom-sheet .tags-container .md-chips .md-chip {
  background: #e0e0e0;
  cursor: pointer;
  padding: 0px 12px;
}
md-bottom-sheet .tags-container .md-chips .md-chip:hover,
md-bottom-sheet .tags-container .md-chips .md-chip:active {
  background: #c7c7c7;
}
md-bottom-sheet .tags-container .md-chips .md-chip .md-chip-content {
  padding: 0;
}
md-backdrop {
  position: fixed;
}
/* Toolbar area */
md-toolbar {
  position: fixed;
  top: 0;
  z-index: 60;
}
@media (max-width: 800px) {
  md-toolbar {
    min-height: 50px !important;
  }
}
md-toolbar .toolbar-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
md-toolbar .toolbar-wrapper h1 {
  display: block;
  overflow: hidden;
  height: 1.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 88px;
  margin: auto;
  font-size: 1.250em;
  font-weight: 400;
  text-align: center;
  height: 64px;
  max-height: 64px;
  line-height: 64px;
}
@media (max-width: 800px) {
  md-toolbar .toolbar-wrapper h1 {
    height: 50px;
    max-height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
  }
}
md-toolbar .toolbar-wrapper .search-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1em;
}
@media (max-width: 800px) {
  md-toolbar .toolbar-wrapper .search-button {
    margin-top: 0.5em;
  }
}
/* Search input */
#tags-search-container {
  padding-bottom: 0.5em;
}
#tags-search-container input {
  color: #fff;
}
@media (max-width: 800px) {
  #tags-search-container input {
    display: inline-block !important;
    width: calc(95.5%);
    height: 3em;
    line-height: 3.5em;
  }
}
#tags-search-container button {
  min-width: 3em;
  margin-right: 0;
}
/* Override styles for smaller screens */
@media (max-width: 1200px) {
  .md-display-3 {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (max-width: 800px) {
  .md-display-3 {
    font-size: 24px;
    line-height: 30px;
  }
  md-content {
    font-size: 12px;
    line-height: 16px;
  }
}
/* Link styles */
a {
  text-decoration: none;
  color: #2196f3;
}
a:hover,
aactive {
  color: #f44336;
}
